@{
    ViewData["Title"] = "About";
}

<p>Professor @ViewData["Professor"]</p>

<p>Email: @ViewData["Email"]</p>

<address>
    <strong>More information: </strong> <a href="https://google.com"></a>
</address>